doctype htmldoctype html(lang='en')
head
    meta(charset='utf-8')
    title Chain story time!
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/main.css', media='screen')
    link(rel='icon', href='favicon.png')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      | &#x9;&#x9;
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
      | &#x9;&#x9;
      script(src='http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js')
      | &#x9;&#x9;
      link(rel='stylesheet', href='css/ie8.css', media='screen')
    //if IE
      link(rel='shortcut icon', href='favicon.png')
  body
    header
      #storyInfo
        .sessionInfo
          | Your story ID is:
          = hash
        .storyNameBox
          span#storyName= title
    | &#x9;
    section#storyCanvas
      - var indx = 0
      each ch in Chapters
        - indx++
        - var ch_id = ch.get().id
        - var text = ch.get().text.replace(new RegExp('\r?\n','g'), '<br />');
        - var photo = ch.get().photo
        - var chapter = "Chapter " + indx + "."
        .storyBox(id="#{ch_id}")
          .storyItem
            h3!= chapter
            .storyInput!= text
            | &#x9;&#x9;&#x9;&#x9;
            if photo != null
              .rndImgBox
                img(src='#{photo}' onerror="this.onerror=null;this.style.display=\"none\";")
        | &#x9;&#x9;
      .storyBox
        .storyItem
          .storyInput#newChapter
            form(method='post' action="/addChapter")
              p Write a new chapter!
              input(type="hidden" name="hash" value="#{hash}")
              input(type="hidden" name="StoryId" value="#{id}")
              textarea(name="text" id="storyTxt")
              br
              br
              input(type="text" id="newPhoto" name="photo" value="" placeholder="insert link to photo or click Submit new chapter for a random image")
              br
              br
              .rndImgBox
                span(style="display:none;color:red;") Sorry broken image path! FIX IT OR REMOVED IT!
              br
              br
              input(type="submit" id="submitChapter" value="Submit new chapter!")
    | &#x9;
    script(src='/js/jquery.min.js')
    // script src="js/jquery.scrollmagic.debug.js"></script
    //if lte IE 9
      script(src='js/matchMedia.js')
      | &#x9;&#x9;
      script(src='js/matchMedia.addListener.js')
    | &#x9;
    script(src='/js/main.js')
