doctype htmldoctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    title Chain story time!
    |     
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    link(rel='stylesheet', href='/css/main.css', media='screen')
    |     
    link(rel='icon', href='favicon.png')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      | &#x9;&#x9;
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
      | &#x9;&#x9;
      script(src='http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js')
      | &#x9;&#x9;
      link(rel='stylesheet', href='css/ie8.css', media='screen')
    //if IE
      link(rel='shortcut icon', href='favicon.png')
  body
    header
      #storyInfo
        form(method="post" action="/createStory")
          input(type='text', name='title')
          input(type='submit', value='Start your story time!')
    script(src='/js/jquery.min.js')
    // script src="js/jquery.scrollmagic.debug.js"></script
    //if lte IE 9
      script(src='js/matchMedia.js')
      | &#x9;&#x9;
      script(src='js/matchMedia.addListener.js')
    | &#x9;
    script(src='/js/main.js')