@CHARSET "UTF-8";


body, div, span, ul, li, h1, h2, h3, h4, h5, h6, img, a{
	padding: 0;
	margin: 0;
	border: 0;
}
a,
a:focus{
	outline:none;
}
body{
	background:#cfd095;
}



/********* COMMON **********/

#storyInfo{
	width:100%;
	max-width:1200px;
	margin:0 auto;
	margin-top:50px;
	overflow:hidden;
	padding-bottom:75px;
	margin-bottom:75px;
	border-bottom:1px solid black;
}

#storyInfo > div{
	float:left;
}

#storyInfo .logoContainer{
	width:20%;
	box-sizing:border-box;
	padding-right:5%;
}
#storyInfo .sessionInfo{
	width:100%;
	float:left;
	font-size:20px;
	margin-bottom:80px;
}
#storyInfo .sessionInfo a{
	font-size:15px;
	text-decoration:none;
}
#storyInfo .storyNameBox{
	width:80%;
	font-size:30px;
	font-weight:bold;
}


#storyInfo input{
	width:90%;
}


#storyCanvas{
	width:90%;
	max-width:1200px;
	margin:0 auto 100px;
	padding-top:100px;
	overflow:hidden;
}

#storyCanvas .storyBox{
	width:100%;
	float:left;
}

#storyCanvas .storyBox .storyItem{
	width:40%;
	box-sizing:border-box;
	margin-bottom:5px;
	background-color:white;
	padding:10px;
	border:1px solid #ffdc72;
	border-radius:20px;
	margin-top:-100px;
}

#storyCanvas .storyBox .storyItem > div{
	width:100%;
}

#storyCanvas .storyBox:nth-child(odd) .storyItem{
	float:left;

}
#storyCanvas .storyBox:nth-child(even) .storyItem{
	float:right;
}

#storyCanvas .storyBox .rndImgBox{
	max-height:600px;
	overflow:hidden;
}

#storyCanvas .storyBox .rndImgBox img{
	display:block;
	width:100%;
	height:auto;
}

#storyCanvas .storyBox .storyInput{
	padding-top:20px;
	padding-bottom:20px;
}

#storyCanvas .storyBox .buttonBox a{
	width:80%;
	margin:15px auto;
	border-radius:5px;
	padding:5px 15px;
	background:#feeaae;
	border-color:black;
	color:black;
	font-size:16px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
}
#storyCanvas .storyBox .buttonBox a:hover{
	background:#ffde78;
}

#newChapter input,
#newChapter textarea{
	width: 100%;
}

#newChapter textarea{
	height: 100px;
}